/* Write your CSS Here. */
label,
input,
textarea {
    display:block;
    width: 100%;

}

input,
textarea
{
    margin-bottom: 20px;
}

.card {
    width: 300px;
    background: #e6e6e6;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    min-width: 300px;
}

textarea{
    min-height: 100px;
}
